/* =========================
        지도
========================= */

.map-sec {
  margin-bottom: 50px;
}

.map-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

.root_daum_roughmap { 
  width: 100%; 
  min-height: 400px; 
}


/* =========================
        교회 정보
========================= */

.location-guide {
  max-width: 900px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.location-head {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #462804;
}

.location-box {
  background: #f3eee7;
  padding: 15px 40px;
  border-radius: 18px;

  display: flex;
  align-items: center;
  gap: 30px;
}

.location-add {
  font-size: 16px;
  font-weight: 700;
  color: #462804;
  min-width: 30px;
}

.location-adr {
  font-size: 16px;
  color: #462804;
  line-height: 1.6;
}

/* =========================
        교통 안내
========================= */
.transport-info {
  margin-bottom: 80px;
}

.transport-guide {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.transport-head {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #462804;
}

.trans-box {
  background: white;
  padding: 26px 30px;
  border-radius: 14px;
  margin-bottom: 15px;
  transition: 0.25s ease;
  box-shadow: 0 5px 5px #f3eee7;
}

.trans-head {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #462804;
}

.trans-dis {
  font-size: 15px;
  color: #7a6a5c;
  line-height: 1.5;
}

/* =========================
        반응형
========================= */

@media (max-width: 768px) {

  .intro-breadcrumb {
    margin-top: 80px;
  }

  .title {
    font-size: 26px;
  }

  .map-wrapper {
    padding: 0 16px;
  }

  .location-box,
  .trans-box {
    padding: 20px;
  }

  .location-adr,
  .trans-dis {
    font-size: 14px;
  }

  .root_daum_roughmap {
    box-shadow: none;
    border-radius: 12px;
  }
}
