.myposts-wrapper {
  max-width: 1100px;
  margin: 175px auto 80px;
  padding: 0 20px;
  width: 100%;
}

.myposts-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 9.5px;
  text-align: left;
}

.myposts-sub {
  color: #6c6c6c;
  font-size: 15px;
  text-align: left;
  margin-bottom: 40px;
  padding-bottom: 20px;

  border-bottom: 1px solid #ececec;

}


.myposts-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.myposts-empty {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
  font-size: 16px;
}

.myposts-item {
  padding: 16px 22px;
  border: 1px solid #e6e6e6;
  border-radius: 9.5px;
  cursor: pointer;
  transition: all 0.15s ease;
  background: white;
}

.myposts-item:hover {
  background: #f8faff;
  border-color: #d7dfff;
}

.myposts-category {
  font-size: 13px;
  color: #185AA5;
  font-weight: 600;
  margin-bottom: 5px;
}

.myposts-title-row {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 11px;
  color: #222;
}


.myposts-bottom {
  display: flex;
  gap: 12.5px;
  font-size: 14px;
  color: #777;
}

.myposts-views {
  color: #777;
}
