.myposts-wrapper {
  max-width: 950px;
  margin: 167px auto 80px;
  padding: 0 50px;
  width: 100%;
}

.myposts-title {
  font-size: 29.7px;
  font-weight: 600;
  opacity: 0.87;
  letter-spacing: 0.1px;
  margin-bottom: 12px;
  text-align: left;
}

.myposts-sub {
  color: #5d5d5d;
  font-size: 14.5px;
  text-align: left;
  margin-bottom: 35px;
  padding-bottom: 15px;
  letter-spacing: -0.1px;

  border-bottom: 1px solid #f0f0f0;

}


.myposts-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.myposts-empty {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
  font-size: 16px;
}

.myposts-item {
  padding: 17px 23px;
  border: 1px solid #e6e6e6;
  border-radius: 9.5px;
  cursor: pointer;
  transition: all 0.15s ease;
  background: white;
}

.myposts-item:hover {
  background: #f6f9ff;
  border-color: #d3dbff;
}

.myposts-category {
  font-size: 13px;
  color: #1b4d9c;
  font-weight: 600;
  margin-bottom: 5px;
}

.myposts-title-row {
  font-size: 16.5px;
  font-weight: 600;
  margin-bottom: 10.5px;
  color: #222;
  opacity: 0.93;
}

.myposts-title-row:hover {
  color: #1b4d9c;
}
.myposts-bottom {
  display: flex;
  gap: 14px;
  font-size: 13.6px;
  color: #6d6d6d;
}

.myposts-views {
  color: #777;
}
