.offering-info-wrapper {
  width: 100%;
  max-width:1200px;
  margin: 183px auto 0;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.offering-info-box {
  max-width: 600px;
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 50px 30px;
  border-radius: 16px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.offering-info-icon {
  color: #185AA5;
  margin-bottom: 18px;
}

.offering-info-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.offering-info-text {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 6px;
}

.offering-info-contact {
  margin-top: 28px;
  background: #f4f9ff;
  padding: 18px;
  border-radius: 12px;
  font-size: 15px;
  color: #333;
  border: 1px solid #d8eaff;
}
