.detail-page {
  width: 100%;
  padding: 60px 100px;
  box-sizing: border-box;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}

.detail-breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 50px;
}

.detail-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 16px 20px;
  border: 1px solid #dcdcdc;
}

.title-text {
  font-size: 16.5px;
  font-weight: 600;
  color: #222;
}

.title-date {
  font-size: 14.6px;
  color: #666;
}

.detail-divider {
  margin: 25px 0;
  border-bottom: 1px solid #e5e5e5;
}

.detail-content {
  font-size: 16px;
  line-height: 28px;
  color: #333;
  white-space: pre-wrap;
  margin-bottom: 80px;
}

.detail-file-table {
  width: 100%;
  display: grid;
  grid-template-columns: 160px 1fr;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}

.file-label-cell {
  background: #f7f7f7;
  padding: 10px 16px;
  font-size: 15px;
  color: #333;
  font-weight: 450;
  border-right: 1px solid #e5e5e5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.file-value-cell {
  padding: 11px 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: white;
}

.file-icon {
  color: #777;
}

.file-name {
  font-size: 15px;
  color: #333;
}

.detail-button-wrap {
  margin-bottom: 40px;
}

.back-btn {
  padding: 8px 22px;
  background: white;
  border: 1px solid #777;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn:hover {
  background: #f1f1f1;
}

.comment-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 18px;
}

.comment-list {
  border-top: 1px solid #ddd;
  width: 100%;
}

.comment-item {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.comment-header {
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: #444;
}

.comment-author {
  font-weight: 700;
}

.comment-date {
  color: #888;
}

.comment-content {
  margin-top: 10px;
  font-size: 15px;
  line-height: 26px;
  color: #333;
}
