.sermon-list-wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 157px auto 120px;
  padding: 0 40px;

}
.sermon-breadcrumb {
  font-size: 13px;
  color: #5d5d5d;
  margin-bottom: 22px;
}

.list-title {  
  text-align: center;
  font-size: clamp(30px,4vw,30px);
  font-weight:600;
  margin: 18px 0 70px;
  letter-spacing: -0.3px;
  color: #333;
  width: 100%;
  max-width: 946px;
}

.search-upload-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin: 30px 0 50px;
}

.search-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -50%);
  width: 265px;
}

.search-box input {
  width: 100%;
  padding: 9.5px 12px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  font-size: 14.1px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);

}
.search-box input::placeholder {
  color: #b8b8b8;
}

.search-box input:focus {
  border-color: #b2b2b2; 
  outline: none;
}
.search-icon {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(40%, -50%);
  color: #888;
  opacity: 0.9;

}

.upload-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-44%);
  background: none;
  border: none;
  font-size: 13px;
  color: #777;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #666;
  padding-bottom: 2px;
}

.upload-btn:hover {
  color: #1b4d9c;
  border-bottom-color: #1b4d9c;
}

.sermon-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px 26px;
  margin-top: 20px;
}

.sermon-card {
  background: white;
  border-radius: 10px;
  padding: 16px 16px 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.084);
  cursor: pointer;
  transition: 0.15s ease;

  display: flex;
  flex-direction: column;
  height: 115px;
  justify-content: flex-start;
  gap: 6px;
  border: 1px solid #f1f1f1;
}

.sermon-card:hover {
  transform: translateY(-2.5px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.11);

}

.card-tag {
  background: #d9e8ff;
  color: #1b4d9c;
  font-size: 11.5px;
  padding: 2.68px 9px;
  border-radius: 5px;
  display: inline-block;
  width: fit-content;
  max-width: max-content;
  white-space: nowrap;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.card-title {
  font-size: 15.8px;
  font-weight: 600;
  letter-spacing: 0.1px;
  opacity: 0.95;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  margin-bottom: 0.5px;

}

.card-preacher {
  font-size: 14px;
  color: #666;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination-wrap {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}
