.sermon-list-wrapper {
  width: 100%;
  max-width: 1250px;
  margin: 160px auto 120px;
  padding: 0 20px;
}

.list-title {
  padding-top: 11px;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 80px;
}

.search-upload-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.search-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -50%);
  width: 280px;
}

.search-box input {
  width: 100%;
  padding: 11.5px 13px;
  border: 1.7px solid #dbdbdb;
  border-radius: 10px;
  font-size: 15px;
  background: #fff;
}

.search-icon {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(40%, -50%);
  color: #777;
}

.upload-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #666;
  padding-bottom: 2px;
}

.upload-btn:hover {
  color: #1e4ecf;
  border-bottom-color: #1e4ecf;
}

.sermon-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 20px;
}

.sermon-card {
  background: white;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: 0.15s ease;

  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: flex-start;
  gap: 8px;
}

.sermon-card:hover {
  transform: translateY(-3px);
}

.card-tag {
  background: #d9e8ff;
  color: #1e4ecf;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 6px;
  display: inline-block;
  width: fit-content;
  max-width: max-content;
  white-space: nowrap;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-preacher {
  font-size: 14px;
  color: #666;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination-wrap {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 120px;
}
