.sermon-write-wrapper {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  width: 80%;
  max-width: 1100px;
  margin: 157px auto 120px;
  padding: 0 40px;
}

.sermon-breadcrumb {
  font-size: 13px;
  color: #5d5d5d;
  margin-bottom: 22px;
}

.write-title {
  text-align: center;
  font-size: clamp(30px,4vw,30px);
  font-weight:600;
  text-align: center;

  margin: 18px 0 50px;
  letter-spacing: -0.3px;
  color: #333;
  width: 100%;

}

.input-group {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 12px 0;
  margin: 0;
}

.input-group label {
  display: block;
  width: 90px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 2px;
  text-align: left;
}

.input-group input {
  width: 98.55%;
  background: #fbfbfb;
  border: 1px solid #ddd;
  height: 35px;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  border-radius: 2px;
}

.input-group textarea {
  width: 100%;
  height: 200px;
  padding: 14px;
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  outline: none;
  resize: none;
  border-radius: 2px;
  box-sizing: border-box;
}

.video-preview {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.video-preview iframe {
  width: 100%;
  height: 420px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 30px 0 60px 0;
}

.submit-btn,
.cancel-btn { 
  width: 60px;
  height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.submit-btn:hover,
.cancel-btn:hover {
  background: #f2f2f2;
}

.summary-divider {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}

.sermon-delete-btn {
  width: 60px;
  height: 34px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-right: auto;
}
.right-group {
  display: flex;
  gap: 0px;
}
.mode-edit .btn-row {
  justify-content: space-between;
}

.mode-edit .delete-btn {
  margin-right: auto;
}