.sermon-detail-wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 157px auto 120px;
  padding: 0 40px;
  
}

.breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}
.breadcrumb span {
  cursor: pointer;
}

.sermon-title {
  text-align: center;
  font-size: clamp(30px,4vw,30px);
  font-weight:600;
  margin: 18px 0 35px;
  letter-spacing: -0.3px;
  color: #333;
}

.info-box {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 13px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  background: #fbfbfb;
  max-width: 1100px;
  margin: 0 auto 24px; 
}

.info-left {
  font-weight: 500;
  letter-spacing: -0.1px;
  color: #222;
  padding-left: 25px;

}

.info-right {
  display: flex;
  gap: 20px;
  color: #666;
  font-size: 14px;
  padding-right: 25px;

}

.video-box {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 0 0px;
}
.video-box iframe {
  width: 100%;
  height: 480px;
  border-radius: 7.5px;
  border: none;
}

.sermon-content {
  padding: 20px 20.5px;
  font-size: 15px;
  color: #333;
  line-height: 1.65;
  margin-bottom: 40px;
  border-bottom: 1px solid #e9e9e9;
}

.prev-next {
  width: 100%;
  margin: 30px 0 40px;
  border-top: 1px solid #e5e5e5;
}

.pn-item {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14.5px;
}

.pn-label {
  min-width: 70px;
  color: #999;
  font-weight: 500;
  padding-left: 8px;
}

.pn-link {
  flex: 1;
  color: #555;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.15s ease;
}

.pn-link:hover {
  color: #68AEFF;
}

.pn-none {
  flex: 1;
  color: #bbb;
  text-align: left;
}

.back-btn-wrap {
  margin-top: 25px;
  text-align: left;
}

.sermon-back-btn {
  background: #68AEFF;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: all 0.15s ease;
  letter-spacing: 1px;
}

.sermon-back-btn:hover {
  background: #518fe6;
}

.sermon-edit-btn {
  padding: 9px 24px;
  background: white;
  border: 2px solid #68AEFF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  margin-left: 12px;
  color:#68AEFF
}

.sermon-edit-btn:hover {
  background: #ececec;
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 18px;
}
