.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFCF8;

  margin-top: -66px;
}

.hero-section {
  width: 100%;
  max-width: 990px;
  position: relative;
  margin: 40px;
  overflow: visible;
}

.hero-image {
  width: 100%;
  display: block;
}

.welcome-section {
  margin-top: 47px;
  text-align: center;
}

.welcome-title {
  font-size: 39px;
  font-weight: 580;
  margin-bottom:14px;

}

.welcome-desc {
  margin-top: 6px;
  color: #220863;
  font-size: 17px;
  letter-spacing: 0.05em;

}

.quick-menu {
  margin-top: 65px;
  width: 100%;
  max-width: 990px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;

}

.qm-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.qm-icon {
  width: 50px;
  height: 50px;
  stroke-width: 1.4;
  color: #222;
}

.qm-text {
  font-size: 17.5px;
  font-weight: 500;
  margin-top: 5.5px;
}

.qm-item:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 40px;
}

.qm-item:not(:first-child) {
  padding-left: 40px;
}

