.main-wrapper {
  width: 100%;
  margin-top: 179px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  width: 100%;
  max-width: 990px;
  position: relative;
  margin: 0 auto;
  overflow: visible;
}

.hero-image {
  width: 100%;
  display: block;
  border-radius: 2px;
}
.slider-window {
  width: 100%;
  max-width: 990px;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); 
}

.hero-slide {
  width: 100%;
  flex-shrink: 0;
  border-radius: 2px;
}


.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 80px;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27.5px;
  cursor: pointer;
}

.arrow-left {
  left: -67px;
}

.arrow-right {
  right: -67px;
}

.arrow-part {
  width: 40px;
  height: 0;
  border-top: 3.5px solid #999;
  transition: border-color 0.2s ease;
}

.arrow-left .part-top {
  transform: rotate(-52deg);
}
.arrow-left .part-bottom {
  transform: rotate(52deg);
}

.arrow-right .part-top {
  transform: rotate(52deg);
}
.arrow-right .part-bottom {
  transform: rotate(-52deg);
}

.arrow-btn:hover .arrow-part {
  border-color: #686868;
}


.indicator-wrap {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 11px;
  height: 11px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}
.dot.active {
  background: #185AA5;
}

.indicator-wrap {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.welcome-section {
  margin-top: 50px;
  text-align: center;
}

.welcome-title {
  font-size: 40px;
  font-weight: 680;

}

.welcome-desc {
  margin-top: 8px;
  color: #220863;
  font-size: 18px;
  letter-spacing: 0.07em;

}

.quick-menu {
  margin-top: 70px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;

}

.qm-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.qm-icon {
  width: 60px;
  height: 60px;
  stroke-width: 1.4;
  color: #222;
}

.qm-text {
  font-size: 20px;
  font-weight: 500;
  margin-top: 6px;
}

.qm-item:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 40px;
}

.qm-item:not(:first-child) {
  padding-left: 40px;
}

