/* 전체 */
.main-wrapper {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 히어로 배너 */
.hero-section {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.hero-image {
  width: 100%;
  border-radius: 1px;
}

/* 배너 안의 텍스트 */
.hero-text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: white;
  line-height: 1.3;
  white-space: pre-line;
}

.hero-subtitle {
  font-size: 20px;
  color: #ffffffcc;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: 0.3em;
}

/* Welcome */
.welcome-section {
  margin-top: 50px;
  text-align: center;
}

.welcome-title {
  font-size: 40px;
  font-weight: 680;

}

.welcome-desc {
  margin-top: 8px;
  color: #220863;
  font-size: 18px;
  letter-spacing: 0.07em;

}

/* 아이콘 메뉴 */
.quick-menu {
  margin-top: 70px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;

}

.qm-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.qm-icon {
  width: 60px;
  height: 60px;
  stroke-width: 1.4;
  color: #222;
}

.qm-text {
  font-size: 20px;
  font-weight: 500;
  margin-top: 6px;
}

/* 아이콘 사이 세로 구분선 */
.qm-item:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 40px;
}

.qm-item:not(:first-child) {
  padding-left: 40px;
}


/* Footer */
.footer {
  margin-top: 100px;
  width: 100%;
  padding: 40px 0 60px 0;
  background: #ffffff;
  font-size: 13px;
  text-align: center;
  color: #555;
  border-top: 1px solid #ddd;
}
