.footer {
  width: 100%;
  padding: 50px 0 40px 0;
  background: #ffffff;
  font-size: 12.5px;
  color: #333333;
}

.footer-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 140px;
  box-sizing: border-box;
}

.footer-text {
  line-height: 1.9;
}

.footer-auth {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 45px;
  color: #333333;
}

.footer-auth a:visited,
.footer-auth a:link,
.footer-auth a:active {
  color: #000;
}

@media (max-width: 768px) {
  .footer {
    padding: 28px 0 26px 0;
  }

  .footer-inner {
    padding: 0 24px;
    align-items: center;
  }

  .footer-text {
    width: 100%;
    text-align: left;
    word-break: keep-all;
    overflow-wrap: break-word;
    line-height: 2.5;
  }

  .footer-auth {
    width: 100%;
    justify-content: left;
    margin-top: 18px;
    gap: 14px;
  }
}