@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";



.navbar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
  background: #ffffff;
}

/* -------------------------
   네비바 컨테이너
--------------------------- */
.navbar-row {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 150px !important;
  gap: 16px;
}

/* 로고 */
.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.logo-text {
  font-family: 'KoPub Batang', serif;
  font-size: 24px !important;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #000;
}

/* 가운데 메뉴 */
.navbar-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: auto;
  background: transparent !important;
  max-width: none;
  margin: 0;
  position: relative;
}

.menu-item {
  position: relative;
  cursor: pointer;
  margin: 0 -5px;
}
.menu-item > span {
  color: #000;
  font-size: 17px;
  font-weight: 400;
}

/* 로그인, 회원가입 */
.navbar-auth {
  display: flex;
  gap: 28px;
  align-items: center;
  white-space: nowrap;
  position: relative;
  top: -1px;
}
.auth-item {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  font-size: 14px;

}
.auth-item svg {
  vertical-align: middle;
  margin-top: -1px;
}
.auth-item:not(:last-child)::after{
  content:"";
  display: inline-block;
  width: 2px;
  height: 18px;
  background: #cfcfcf;
  margin-left: 5px;
}

/* 모바일 토글 버튼 - 기본은 숨김 */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* -------------------------
   드롭다운 메뉴
--------------------------- */
.submenu {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  
  
  background: rgba(255, 255, 255, 0.85); 
  backdrop-filter: blur(2px);


  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  min-width: 120px;
  padding: 10px 0;

  animation: submenuFade 0.15s ease-out;
}

@keyframes submenuFade {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.submenu-item {
  padding: 10px 18px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
}

.submenu-item:hover {
  background: rgba(0,0,0,0.07);
}

* {
  user-select: none;
}