@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');



.navbar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
}

/* -------------------------
   상단 흰색 로고영역
--------------------------- */
.navbar-top {
  height: 62px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 222px!important;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.logo-img {
  height: 48px;
}

.logo-text {
  font-family: "Berkshire Swash", serif;
  font-size: 30px!important;
  letter-spacing: 0.02em;
}

.navbar-auth {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  top: -2px;
}
.auth-item svg {
  vertical-align: middle;
  margin-top: -1px;

}


.auth-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* -----------------------
   파란 메뉴바
--------------------------- */
.navbar-menu {
  width: 100%;
  height: 33px;
  background: #376db4!important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width:1100px;
  margin:0 auto;
}

.menu-item {
  position: relative;
  cursor: pointer;
  margin: 0 30px;  
}


.menu-item > span {
  color: #fefefe;
  font-size: 17px;
  font-weight: 420;
  letter-spacing: 0.44px;
  line-height: 45px;
  transition: color 0.15s ease;
  
}
.menu-item::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 10px; 
  background: transparent;
}
/* -------------------------
   드롭다운 메뉴
--------------------------- */
.submenu {
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  
  
  background: rgba(255, 255, 255, 0.85); 
  backdrop-filter: blur(2px);


  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  min-width: 160px;
  padding: 10px 0;

  border-top: 4px solid #000;

  animation: submenuFade 0.15s ease-out;
}

@keyframes submenuFade {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.submenu-item {
  padding: 10px 18px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
}

.submenu-item:hover {
  background: rgba(0,0,0,0.07);
}

* {
  user-select: none;
}
