body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;                
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 로그인 영역 */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}



.logo-text {
  font-size: 1.5rem;
}

.navbar-auth {
  display: flex;
  gap: 20px;
}

.auth-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  background-color: #1b4d9c;
  padding: 10px 0;
  gap: 60px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

content {
  margin-top: 120px;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  margin-top: 120px; /* 네비게이션 높이만큼 아래로 */
  padding: 0 80px;   /* 좌우 여백 */
  box-sizing: border-box;
}
